body{
    margin: 30px auto;
    background-color: rgb(252, 205, 239);
    
}
#navbar{
font-size: xx-large;
text-align: center;
}
*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
ul{
   display: flex; 
   flex-wrap: wrap;
   
}
ul li a img{
    height: 160px;
    width: 160px;
    display: block;
    padding: 32px;
    box-shadow: 10px 10px 14px black;
    transform: rotate(-10deg);
    
}
ul li{
    margin: 20px;
}

